!DOCTYPE html>
<html lang="ua">

<head>
  <meta charset="utf-8">
  <title>My second website</title>
  <link rel="stylesheet" href="style_2.css">
</head>

<body>
  <h1>Вітаю на моїй домашній сторінці!</h1>
   <img src="https://illustrators.ru/uploads/illustration/image/668126/main_668126_original.jpg" alt="Иллюстрация Украинка " >
    <P> <strong>Контакт:</p>

    <strong>
    <h2 class="first">Тел: 111 222 333 </h2>
    <h2 class="second">Email: example@mail.com</h2>
   <form action="textarea1.php" method="post">
      <h3><strong>Надішли повідомлення:</h3>
        
      <p>
        <textarea
        ></textarea>
      <p><input type="submit" value="Відправити" /></p>
    </form>

</body>

</html>



