body {
  font-family: system-ui;
  background: pink;
  color: white;
  text-align: center;
}
h1{
  background: purple;
}
p{
  color: purple;
  font-size: 40px;
  margin-right: 600px;
}
.first{
  color:black;
  margin-right: 830px;
  <strong>
}
.second{
  color:black;
  margin-right: 715px;
  <strong>
}
img {
  margin-right: 650px;
  style width: 216. 132px;
  height: 332px; 
  
}